<!--<html>-->
<!--<link rel="shortcut icon"  href="/static/img/about/scpt.png" type="image/icon type">-->
<!--<body>-->
<!--<form action="{{ url_for('gfg')}}" method="post">-->
<!--<label for="firstname">First Name:</label>-->
<!--<input type="text" id="firstname" name="fname" placeholder="firstname">-->
<!--<label for="lastname">Last Name:</label>-->
<!--<input type="text" id="lastname" name="lname" placeholder="lastname">-->
<!--<button type="submit">Login</button>-->
<!--</form>-->

<!--<form action="{{ url_for('nomby')}}" method="post">-->
<!--<label for="firstname">d Name:</label>-->
<!--<input type="text" id="firstnamse" name="vname" placeholder="firstnasme">-->
<!--<label for="lastname">lopy Name:</label>-->
<!--<input type="text" id="lastnamse" name="hname" placeholder="lasstname">-->
<!--<button type="submit">Logins</button>-->
<!--</form>-->

<!--<form action="{{ url_for('submit') }}" method="post">-->

<!--    <textarea name="text" value="{{ date }}">{{date}}</textarea>-->
<!--    <input type="submit">-->
<!--</form>-->

<!-- <script>{{bs}}</script> -->
<!--<form class="form-inline" method="POST" action="{{ url_for('test') }}">-->
<!--<select class="form-select" name="comp_select">-->
<!--	<optgroup label="vuln apis">-->
<!--		<option value="CVE" selected="">CVE</option>-->
<!--		<option value="vunldb">Vunldb</option>-->
<!--	</optgroup>-->
<!--</select>-->
<!--<button type="submit" class="btn btn-default">Go</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<!doctype html>
<head>
    <title>Title</title>
</head>
<body>
<script>
    document.getElementById('my_textarea_id').textContent = 'foo';
</script>
    <div>
<!--        src="{{ url_for('index')}}"-->
<!--        <form action="{{ url_for('inde33744x')}}" method="POST">-->
        <iframe frameborder="0" noresize="noresize"
     style='background:  #6b33ff ; width: 100%; height:100%;' src="{{ url_for('inde33744x')}}"></iframe>
            <textarea id="my_textarea_id">
                {{piop}}
            </textarea>
            <button class="btn btn-primary" type="submit" style="background: var(--bs-pink);">scan</button>
            </form>
    </div>
<!--    <span>hi</span>-->
<!--    <textarea id="my_textarea_id"-->
<!--   placeholder="{{ url_for('index')}}"-->
<!--   src="{{ url_for('index')}}"></textarea>-->

<!--    <textarea onkeyup="javascript:yelp.ui.widget.countChars(this.form.comment,5000);"   onkeydown="{{ url_for('index')}}" name="comment" id="review-text" class="form400" rows="8" cols="40" style="height: 86px;"></textarea>-->

<!--    <span>end hi</span>-->

<form action = "http://localhost:5000/uploader" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
</body>
